:root {
    --bg-dark: #2A2421;
    --text-light: #FFFFFF;
    --accent-color: #D4B295;
    --font-main: "Nunito Sans", Arial, sans-serif;

    --radius: 10px;
    --shadow: 0 8px 20px rgba(0, 0, 0, .15);
    --transition: .3s ease;
    --container-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background: #FDFBF9;
    color: #333;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}